@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --primary-color: #1d3557;
  --secondary-color: #126782;
  --accent1-color: #fd9e02;
  --accent2-color: #8ecae6;

  --heading-font: "Alegreya Sans", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;

  --headline-color-on-white: #fd9e02;
  --headline-color-on-color: #f1faee;
  --paragraph-color-on-white: black;
  --paragraph-background-color: #1d3557;
  --nav-link-color: white;
  --nav-background-color: #126782;
  --nav-hover-link-color: #f1faee;
  --nav-hover-background-color: #457b9d;
}

html {
  background-color: var(--secondary-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: var(--nav-link-color);
  padding: 1em 2em 1em 2em;
}
img {
  max-width: 100%;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}



header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  text-align: justify;
  font-size: 14px;
}

li {
  font-family: var(--paragraph-font);
  padding: 1em;
  list-style: none;
  text-align: justify;
  font-size: 14px;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: var(--nav-link-color);
  font-family: var(--paragraph-font);
}
.colors td {
  width: 25%;
  height: 3em;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
  font-weight: bold;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 70px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #126782;
  line-height: 3em;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
}
.sm-page2 {
  grid-area: page2;
  background-color: #126782;
  line-height: 3em;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
}
.sm-page3 {
  grid-area: page3;
  background-color: #126782;
  line-height: 3em;
  font-family: var(--paragraph-font);
  color: var(--nav-link-color);
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

footer {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
}

.copyrigth {
  color: white;
}

.socialmedia {
  margin-top: -58px;
  float: right;
}
