@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
 
  --primary-color: #1D3557;
  --secondary-color: #126782;
  --accent1-color: #FD9E02;
  --accent2-color: #8ECAE6;

 
  --heading-font: 'Alegreya Sans', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  
  --headline-color-on-white: #FD9E02; 
  --headline-color-on-color: #F1FAEE; 
  --paragraph-color-on-white: black; 
  --paragraph-background-color: #1D3557;
  --nav-link-color: white;
  --nav-background-color: #126782;
  --nav-hover-link-color: #F1FAEE;
  --nav-hover-background-color: #457B9D;
}



html {
  background-color: var(--secondary-color);
}
body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white);
  padding: 1em;
}


header {
  
  padding: 1em;
  background-color: var(--paragraph-background-color);
}

main {
  height: 400px;
  padding: 1em;
  background-color: var(--accent2-color);
}
footer {
  
  width: 100%;
  height: 50px;
  background-color :  var(--primary-color);
  
}