@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
 
  --primary-color: #1D3557;
  --secondary-color: #126782;
  --accent1-color: #FD9E02;
  --accent2-color: #8ECAE6;

 
  --heading-font: 'Alegreya Sans', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  
  --headline-color-on-white: #FD9E02; 
  --headline-color-on-color: #F1FAEE; 
  --paragraph-color-on-white: black; 
  --paragraph-background-color: #1D3557;
  --nav-link-color: white;
  --nav-background-color: #126782;
  --nav-hover-link-color: #F1FAEE;
  --nav-hover-background-color: #457B9D;
}



html {
  background-color: var(--secondary-color);
}
body {
  max-width: 940px;
  margin: 0 auto;
  padding:0;
  background-color:var(--nav-link-color);
}


header {
  height: auto ;
  padding: 1em;
  background-color: var(--paragraph-background-color);
}

main {
  height:auto;
  padding: 1em;
  background-color: var(--accent2-color);
}


footer {  
  width: 100%;
  height: 50px;
  background-color :  var(--primary-color);
  
}


nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 70px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}



.logo{
  width: 150px;
  height: 130px;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
img{
  width:100%;
  height: auto;
}

.content {
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}