
.th1{background-color: #3F5C27;}
.th2{background-color: #C0E1A4;}
.th3{background-color: #96DC5E;}
.ty4{background-color:#3F5C27 ;}
.ty8{background-color:#96DC5E ;}
.ty12{background-color:#C0E1A4;}
.tab1{border-style: double;}

