/* style of body*/

body {
  margin: 0px;
  padding: 0px;
  background-color: #96dc5e;
  width: 100%;
  height: 100%;
  font-family: "Mukta", sans-serif;
  }

.content {
  max-width: 1040px;
  margin: 0 auto;
}

/* style of header*/
header {
  margin:10px;
  padding:5px;
  border: 5px solid #3f5c27;
  background-color: #c0e1a4;
  box-shadow: 0 0 30px #777;
  display: grid;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 200px;
  height: auto;
  grid-row: 1/3;
  margin-right: 40px;
}
.name {
  color: black;
  margin: 0;
  font-size: 45px;
  text-align:center;
  grid-column: 2/3;
}
nav {
  grid-column: 2/3;
  grid-row: 2/3;
}

ul.menu{
  display: flex;
  padding: 0;
}

.menu > li {
  flex: 1 1 auto;
}
.menu li a {
  background-color: #3f5c27;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding:10px;
  border: solid #8fa180 2px;;

}

.menu li a:hover {
  background-color: #c0e1a4;
  color: black;
  font-size: 18px;
  }

ul {
  list-style: none;
}



/* style of Hero Image*/
  .slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 8s infinite alternate;
}
.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100px;
}


@keyframes cambio {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@supports(object-fit: cover){
    .slider img{
      height:460px;
      object-fit: cover;
      object-position: center center;
    }
  }

.text {
  font-size: 35px;
  color: azure;
  
}

.container {
  position: absolute;
  left: 200px;
  top: 150px;
}



.button-slider {
  width: 300px;
  height: 40px;
  background-color: #3f5c27;
  text-align: center;
 
  
}

.button-slider a {
  
  text-decoration: none;
  font-size: 20px;
  color: white;
}



/* style of footer*/
footer {
  height: 50px;
  margin: 10px;
  padding: 20px;
  border:  5px solid #3f5c27;
  background-color: #c0e1a4;
  box-shadow: 0 0 30px #777;
  display: grid;
  font-size: 18px;
  
}

.copyrigth {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/2;
  justify-content:flex-start;
  align-items: center ;
  
}

.socialmedia {
  display: flex;
  grid-column: 2/2;
  justify-content: flex-end;
  align-items: center;
    }

.socialmedia  img{
 
  width:30px;
  height: 30px;
  
}

/* style of main*/
main {
  margin: 10px;
  padding: 30px;
  border: 1px solid #3f5c27;
  background-color: #3f5c27;
  box-shadow: 0 0 30px #777;
}

img{
  width:450px;
  height: 375px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.content1 {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subtopic1 {
  grid-row: 1/2;
  grid-column:1/2;
  
 }

.text1{
  grid-column:1/2;
  grid-row: 2/2;
  text-align: justify;
  color: whitesmoke;
}

.picture05 {
  grid-column: 2/3;
  grid-row:1/3;
}

.content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.subtopic2 {
  grid-row: 1/2;
  grid-column:2/2;
  
 }

.text2{
  grid-column:2/2;
  grid-row: 2/2;
  text-align: justify;
  color: whitesmoke;
}

.picture06{
  grid-column: 1/2;
  grid-row:1/3;
}

.text3 {
  text-align: justify;
  color: whitesmoke;

}

/* Child page "About us" */

.heroimage img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
    .heroimage img{
      height:460px;
      object-fit: cover;
      object-position: center center;
    }
  }

  .childcontainer{ 
  position: absolute;
  left: 250px;
  top:250px;
  
  }
  .childtext {
  
  font-size: 35px;
  color:  #3f5c27;
  text-align: center;
  
}
