header {
  padding: 1em;
  margin: 10px;
  text-align: center;
  background-color: beige;
  box-shadow: 0 0 30px #777;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

footer {
  font-size: 20px;
padding: 10px;
  margin: 10px;
  background-color: beige;
  text-align: center;
  box-shadow: 0 0 30px #777;
}

main {
  margin: 10px;
  padding: 30px;
  background-color: #c0e1a4;
  box-shadow: 0 0 30px #777;
}
.form {
display: grid;
  width: 550px;
  height: 750px;
  background-color: beige;
  align-items: center;
  margin-left: 180px;
  
}

label {
  display: block;
}

input,
label, select {
  margin: 0.7rem 0;
  font-size: 25px;
  width: 480px;
   border-radius: 4px;

  
}

ul {
  list-style: none;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  width: 150px;
}

textarea{
    font-size: 25px;
    width: 480px;
    height: 250px;
    border-radius: 4px;
    border: 2px solid #3f5c27;
    box-shadow: 0 0 15px #777;
   
}

input, select{
    border: 2px solid #3f5c27;
    box-shadow: 0 0 15px #777;
}